*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 40px;
  width: 100vw;
  height: 100vh;
}

nav {
  border: solid 2px black;
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  font-size: 48px;
}

ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

li {
  display: flex;
  width: 100px;
  height: 50px;
  border: solid 2px black;
  transition: ease-in-out 0.3s;
  align-items: center;
  justify-content: center;
}

ul :hover {
  background-color: coral;
  transform: scale(1.5);
}

main {
  display: flex;
  flex-direction: column;
}

.article-container {
  width: 100%;
}

article {
  display: flex;
  border: solid 2px black;
  flex-direction: column;
}

img {
  width: 100%;
  object-fit: cover;
}

.contentInner {
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  width: 100px;
  height: 50px;
  background-color: coral;
}

aside {
  width: 100%;
  border: solid 2px black;
}

footer {
  border: solid 2px black;
  height: 100px;
}

/* DESKTOP */

@media (min-width: 800px) {
  main {
    flex-direction: row;
  }
  .article-container {
    width: 80%;
  }
  aside {
    width: 20%;
  }
}

@media (min-width: 1024px) {
  article {
    flex-direction: row;
  }
  img {
    width: 100%;
  }
}
